{% extends 'template.html' %}
{% block approved %}
    <form method="post" action="approved">
        <fieldset>
            <p style="text-align: center"><br><br>Por favor, confirme o Tweet escolhido</p>
            <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table class="table table-bordered table-striped mb-0" style="max-width: 80%; margin-left: 10%; position: relative; overflow: auto; display: block; height: auto">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Usuário</th>
                        <th scope="col">Tweet</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><input type="radio" class="hashtag" id="hashtag_select" name="confirm" value="confirm" checked></th>
                            <td>{{ name }}</td>
                            <td>@{{ user }}</td>
                            <td>{{ tweet }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="save-body" style="margin-left: 10%">
                <button type="button" id="cancel" class="btn btn-primary" style="background-color: #ff0000" onclick="goBack()">Voltar</button>
                <button type="submit" id="approved" class="btn btn-primary" style="background-color: #4cae4c">Confirmar</button>
            </div>
        </fieldset>
    </form>
{% endblock %}