{% extends 'template.html' %}
{% block content %}
<div class="container">
    <form method="post" action="search">
            <p style="text-align: center">Busque aqui seu Tweet:</p>
            <div class="input-group" style="width: 40%; margin-left: 30%">
                <input type="text" class="form-control" id="hashtag" name="hashtag" placeholder="#..." style="width: 80%">
                <button type="submit" class="btn btn-primary" style="width: 20%">Search</button>
            </div>
        </form>
</div>
{% endblock %}