{% extends 'template.html' %}
{% block approved %}
    <form method="post" action="approved">
        <fieldset>
            <h2 style="text-align: center">Response: {{ status_code }}</h2><br>
            <p style="text-align: center">{{ response_reason }}</p>
            <pre style="word-wrap: break-word;white-space: pre-wrap;width: 55%;margin-left: 25%;position: center">{{ response | tojson }}</pre>
            </div>
            <div class="save-body" style="margin-left: 48%;margin-top: 1%;margin-bottom: 2%;">
                <button type="button" id="cancel" class="btn btn-primary" style="background-color: #ff0000" onclick="goBack()">Voltar</button>
            </div>
        </fieldset>
    </form>
{% endblock %}